$cell-size: 100px;

.column {
  font-weight: normal;
  height: 60px;
}

.row {
  &-heading {
    width: 100px;
    text-align: center;
  }
}

.cell {
  width: $cell-size;
  height: $cell-size;
  border: 0;
  border-radius: 8px;
  text-align: center;
  word-break: break-word;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);

  &--with-image {
    position: relative;
    color: white;
    &:before {
      content: "";
      position: absolute;
      background: no-repeat center url(https://raw.githubusercontent.com/mharyst/amo/master/src/img/food.jpg);
      background-size: contain;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    &:after {
      content: "";
      background: #000;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      border-radius: 8px;
    }
  }
}
